<h1>Trouver votre nanny</h1>
<div>
<ul>
<% @nannies.each do |nanny| %>
<li><%= link_to nanny.first_name, nanny_path(nanny)%></li>
<%= nanny.description %></li>
<%= nanny.city %></li>
<% end %>
</ul>
</div>
