<p>Hello <%= @user %>,</p>

<p>Voici l'url pour procéder au règlement de votre part de la facture de votre nanny - <%= link_to 'payyourshare_url', payment_payyourshare_url(@payment) %> </p>

<p>Bonnes vacances !</p>
