// Specific CSS for your home-page
body{
  background-color: white;
  color: $grey-dark;
}
.home-banner{
  background-image: url("girl-bike.jpg");
  background-size: cover;
  background-position: center;
  height: 980px;
  overflow: hidden;
  position: relative;
}
.home-banner-content{
  width: 500px;
  font-size:24px;
  color: $grey-dark;
  position: absolute;
  right: 80px;
  bottom: 260px;
}
.home-btn{
  color: $yellow-dark;
  font-size: 20px;
  padding: 4px 16px;
}
.home-banner img{
  height: 280px;
  position: absolute;
  left: 100px;
  top: 0;
}
.home-service{
  text-align: center;
  margin: 24px auto;
  color: $grey-dark;
  & h2{
    font-size: 40px;
    padding: 32px;
  }
}
.home-cards{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.service-card{
  width: 400px;
  margin: 24px 50px;
  background-color: $grey-light;
  padding: 50px 50px;
  box-shadow: 0 0 20px rgba(40,40,40,0.2);
  & h3{
    border-bottom: solid 2px $yellow-dark;
    padding-bottom: 24px;
  }
  & p{
    padding: 16px 0;
  }
}
.service-icon{
  font-size: 40px;
  padding: 32px 0;
}
