// Specific CSS for your home-page
body{
  background-color: white;
  color: $grey-dark;
  font-size: 16px;
}

.home-banner{
  background-image: url("https://images.unsplash.com/photo-1555482000-9ea363917a18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  background-position: center;
  height: 800px;
  overflow: hidden;
  display: flex;
  & img{
    height: 132px;
    position: absolute;
    left: 36px;
    top: 0;

  }
}
.home-banner-content{
  width: 330px;
  font-size:24px;
  color: $grey-dark;
  position: absolute;
  right: 104px;
  top: 392px;
  margin-right: 14px;
}

.home-service{
  text-align: center;
  margin: 24px auto;
  color: $grey-dark;
  & h2{
    font-size: 40px;
    padding: 32px;
  }
}
.home-cards{
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  line-height: 32px;
}
.service-card{
  width: 400px;
  margin: 24px 50px;
  background-color: $grey-light;
  padding: 50px 50px;
  box-shadow: 0 0 20px rgba(40,40,40,0.2);
  & h3{
    border-bottom: solid 2px $yellow-dark;
    padding-bottom: 24px;
  }
  & p{
    padding: 16px 0;
  }
}
.service-icon{
  font-size: 40px;
  padding: 32px 0;
}
.date-home {
    font-size: 20px;
    color: #4A4A4A;
    border-radius: 5px;
    font-weight: lighter;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-family: roboto;
    padding: 5px 5px;
    margin: 0 auto;
    margin-bottom: 70px;

    #start_date, #end_date, #moving_area {
       border: none;
       background-color: transparent;
  }
}
h4 {
font-weight: bold;
font-size: 1.5rem;
}

.underline {
  background: $yellow-dark;
}

// p {
//   text-align: justify;
// }
a:link{
  text-decoration: none!important;
}
.onglet, .nav-link, .nav-link-home, .deconnect-user{
  color: $grey-dark;
  transition: ease 0.3s;
  text-decoration: none;
}
.onglet:hover, .nav-link:hover, .nav-link-home:hover, .deconnect-user:hover{
  color: $grey-light;
}
.onglet {
  position: absolute;
  right: 30px;
  top: 14px;
  font-size: 20px;
}

.nav-link-home {
  position: absolute;
  right: 166px;
  top: 13px;
  font-size: 20px;
}

.nav-link {
  right: 166px;
  top: 6px;
  font-size: 20px;
}

.scroll {
  font-size: 40px;
}

.chevron {
  text-align: center;
  width: 100%;
  margin-top: -60px;
  color: #494848;
  & a{
    color: $grey-dark;
  }
}

.full-screen {
  min-height: calc(100vh - 100px);
}

.pic-pay {
  background-image: url("https://res.cloudinary.com/dljfsfpna/image/upload/v1576062110/pay_wraits.jpg");
  width: 60%;
  height: 500px;
  background-size: cover;
  margin-bottom: 80px;
  margin-right: 45px;
}

.pay-container {
  display: flex;
}

.text-pay {
  background-color: $grey-light;
  width: 40%;
  height: 300px;
  margin-top: 100px;
  margin-left: 45px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  padding-top: 60px;
  & p {
    font-size: 21px;
    padding-top: 20px;
    text-align: center;
  }
  & h1 {
    font-size: 2rem;
  }
}

.p-home {
  font-size: 18px;
  margin-bottom: 5px;
}

.deconnect-user {
  position: absolute;
  right: 250px;
  top: 13px;
  font-size: 20px;
}
.text-align {
  word-spacing: -1px;
}
