.banner {
  background-image: url("https://images.unsplash.com/photo-1534179639155-4910efc143c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
  display: flex;
//   flex-direction: column;
//   justify-content: center;
}

.container-banner > h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.container-banner {
  width: 600px;
  position: absolute;
  top: 100px;
  right: 20px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.banner-date-label {
  color: $grey-dark;
}

#start_date, #end_date {
  margin-left: 10px;
  color: $black;
  font-size: 20px;
}

.body-nannies {
  margin-top: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  justify-content: space-evenly;
}

.card-nanny {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2%;
  margin: 20px;
}

.card-nanny a {
  text-decoration: none;
  color: inherit;
}


.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit:cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //padding: 50px;
  margin-right: 17px;
}

.profil-col-6, .age, .city, .rating {
  margin-bottom: 16px;
  margin-top: 12px;
}

.nanny-description {
  padding: right;
  margin: 0px;
  margin-left: 34px;
}

.fa-star {
  color: #FFC65A;
}

.profil-col-6 {
  margin-top: 20px;
  font-weight: bold;
}

.date-index {
    font-size: 20px;
    color: #4A4A4A;
    border-radius: 5px;
    font-weight: lighter;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-family: roboto;
    padding: 5px 5px;
    margin: 0 auto;
        margin-bottom: 20px;

    #start_date, #end_date, #moving_area {
       border: none;
       background-color: transparent;
  }
}

.btn {
  color: $grey-dark;
  padding: 15px 24px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 20px;
  background: #FDCE0D;
  transition: background 0.3s ease;
  border: 1px solid #FDCE0D;

}


.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.card-top {
 padding-top: 20px;
}

.bg-gray {
  background-color: rgba(255,255,255,0.5);
  margin-right: 10px;
  padding: 15px;
}

.city {
  margin-left: 10px;
  padding-top: 5px;
}



