<div class="home-banner">
  <img src="howinanny-logo.png" alt="logo">
  <div class="home-banner-content">
    <p>Chez nous, les vacances c’est sacré !
    Nous vous proposons de trouver LA nounou
    qui va vous accompagner au cours de votre
    séjour. Pour des enfants heureux et des
    parents détendus.
    </p>
    <span class="btn btn-class btn-secondary home-btn">Profitez de ce service</span>
  </div>
</div>
