<div class="home-banner">
  <%= image_tag "https://res.cloudinary.com/dljfsfpna/image/upload/v1575551825/howinanny-logo.png" %>
  <div class="home-banner-content">
    <p>Chez nous, les vacances c’est sacré !
    Nous vous proposons de trouver LA nounou
    qui va vous accompagner au cours de votre
    séjour. Pour des enfants heureux et des
    parents détendus.
    </p>
    <%= link_to "/nannies" do %>
    <span class="btn btn-class btn-secondary home-btn">Profitez de ce service</span>
    <% end %>
  </div>
</div>
