<div class="home-banner">
  <%= image_tag "https://res.cloudinary.com/dljfsfpna/image/upload/v1575551825/howinanny-logo.png" %>
  <div class="home-banner-content">
    <p>Chez nous, les vacances c’est sacré !
    Nous vous proposons de trouver LA nounou
    qui va vous accompagner au cours de votre
    séjour. Pour des enfants heureux et des
    parents détendus.
    </p>
    <%= link_to "/nannies" do %>
    <span class="btn btn-class btn-secondary home-btn">Profitez de ce service</span>
    <% end %>
  </div>
</div>

<div class="home-service">
  <h2>Notre service</h2>
  <div class="home-cards">
    <div class="service-card">
      <i class="far fa-calendar-check service-icon"></i>
      <h3>PRÉCIS</h3>
      <p>Trouvez la nounou qui correspond à vos besoins grâce
      à une sélection de profils en fonction de vos dates et de votre
      destination de vacances.</p>
    </div>
    <div class="service-card">
      <i class="fas fa-award service-icon"></i>
      <h3>SÛR</h3>
      <p>Les nounous sont choisies selon leur expertise, leur profil, leur
      sérieux et leurs recommandations. Vos enfants
      seront entre de bonnes mains.</p>
    </div>
    <div class="service-card">
      <i class="fab fa-angellist service-icon"></i>
      <h3>COOL</h3>
      <p>Ce service vous permet deprofiter de vos vacances !
      Vous pourrez profiter de vos amis et vos enfants feront des
      activités qui leur plaisent ! C’est que du bonheur !</p>
    </div>
  </div>
</div>
